.App {
  text-align: center;
}

.DealerCard {
  width: 200px;
  margin: 8px;
}

.HiddenDealerCard {
  width: 200px;
  height: 277.88px;
  margin: 8px;
  border-radius: 10px;
  display: inline-block;
  background: linear-gradient(to right, #536976, #292e49);
}
